canvas.drawing, canvas.drawingBuffer {

    position: absolute;
    left:0
    


}

#scanner-container{
    width: 400px;
    height: 600px;
    overflow: hidden;
}



#btn{
    width: 100%;

}

#googleSearch{
    width: 100%;
}



#total-container{
    width: 95vw;
    height: 45vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    background-color: aqua;
    padding: 5px;
    margin-left: -5px;
    overflow: hidden;

}

@media only screen and (min-width: 700px) {
    #scanner-container{
        overflow: visible;
    }

  }


  @media only screen and (max-width: 600px) {
    canvas.drawing, canvas.drawingBuffer {

        position: absolute;
        left:0;
        transform: translateY(-630px);
        width: 400px;
        height: 600px;
        overflow: hidden;
        
    
    
    }


  }