canvas.drawing, canvas.drawingBuffer {

    position: absolute;
    transform: translateX(-352px);

}

#scanner-container{
    width: 400px;
    height: 420px;
    overflow: hidden;
}



#btn{
    width: 100%;

}

#googleSearch{
    width: 100%;
}



#total-container{
    width: 95vw;
    height: 45vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    background-color: aqua;
    padding: 5px;
    margin-left: -5px;

}

@media only screen and (min-width: 700px) {
    #scanner-container{
        overflow: visible;
    }

  }